extends layout

block content
	div.body-inner-container
		div.about-container
			div.row-fluid
				div.span7#about-left-container
					h3 About Seven Albums
					p Seven Albums is a tool that helps storeowners develop their store interiors. We understand that shoppers are looking for more than just clothes when they enter a boutique. They come to your store for the entire experience.
					p.about Whether you are opening a new store or rehabbing a long-standing retail establishment, creating a unique and consistent image, mood and visual experience that reaches your customers and leaves them yearning to come back is incredibly difficult.
					p.about Great ideas don’t materialize out of thin air. You have to search them out and find them. Our goal at Seven Albums is to provide great content that inspires you and leads you to those great ideas.
					p.about We have compiled a photographic catalog of store interiors and organized the photos to make it easy for you to find photos that match the look and feel of your store.
					p.about Zach and I are brothers and entrepreneurs with a passion for small businesses. We understand what it is like to pour your energy, time and creativity into your business. We built this site to make running your store easier. 
					p.about Nobody understands your needs better than you do. We want to talk with you. We want to know what would make the site better for you. Reach out to us. We will listen.
					p.about Sincerely,
					p.about Zach and Nick Taylor, co-founders
					img#zn-pic(src="images/zn.jpg", alt="")
				div.span5#about-right-container
					div#contact-content
						h3 Send us a Message
						p We are constantly improving the site, always with our users' input in mind. Please send us a message below and tell us how we can improve the site for you. Rather talk on the phone? Call me: 781-307-7432
						form#about-contact-form(method="POST", action="/message")
							input#email(name="email", type="text", placeholder="Your email address")
							textarea#message(rows="10", type="textarea", placeholder="Send us a message...", name="message")
							button#message-post-btn.btn.btn-medium(type="submit") Send
					div#message-sent-thanks.hide()
						h4 Thanks for your insight!
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/script.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script(type="text/javascript", src="/javascripts/about.js")
	script.
		var hide = !{JSON.stringify(hide)}
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script.
		var user = !{JSON.stringify(user)}
	script.
		var id = !{JSON.stringify(id)}