extends layout

block content
	script(type="text/javascript", src="/javascripts/albums.js")
	div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.navbar-container
					a.brand(href="albums") Seven Albums
					ul.nav.pull-right
						li
							a.nav-link(href="about") About us
						li
							a.nav-link(href="/") Sign up
						//
							li
								a(href="#") My Ideas
							li.dropdown
								a.dropdown-toggle(href="#", data-toggle="dropdown") My Account <b class="caret"></b>
								ul.dropdown-menu
									li
										a(href="/profile") My Profile
									li
										a(href="/messages") Messages
									li
										a(href="#") Log out
	div.body-container
		div.body-inner-container
			div#pro-album-container
				div.pro-album-cover
					a(href="photos-ny")
						img.pro-album-pic(src="images/rsz_ian18.jpg")
						div.pro-album-label-container
							div.pro-album-label
								p.search-pic-name New York
				div.pro-album-cover
					a(href="photos-bou")
						img.pro-album-pic(src="images/rsz_boutiques3.jpg")
						div.pro-album-label-container
							div.pro-album-label
								p.search-pic-name Boutiques
				div.pro-album-cover#coming-soon-aut
					a(href="#")
						img.pro-album-pic(src="images/rsz_autumn3.jpg")
						div.pro-album-label-container
							div.pro-album-label
								p.search-pic-name Autumn 2013
								p.coming-soon Coming Soon
				div.pro-album-cover#coming-soon-like
					a(href="#")
						img.pro-album-pic(src="images/rsz_butterhome1.jpg")
						div.pro-album-label-container
							div.pro-album-label
								p.search-pic-name Stores Like Mine
								p.coming-soon Coming Soon