extends layout

block content
	div.albums-outer-container
		div#pro-album-container
			div.pro-album-cover
				a(href="photos-mini")
					img.pro-album-pic(src="images/aa/bou59.jpg")
					div.pro-album-label-container
						div.pro-album-label
							p.search-pic-name Minimalist
			div.pro-album-cover
				a(href="photos-ecce")
					img.pro-album-pic(src="images/rsz_boutiques3.jpg")
					div.pro-album-label-container
						div.pro-album-label
							p.search-pic-name Eccentric
			div.pro-album-cover#coming-soon-aut
				a(href="photos-cont")
					img.pro-album-pic(src="images/aa/bou77.jpg")
					div.pro-album-label-container
						div.pro-album-label
							p.search-pic-name Contemporary
			div.pro-album-cover#coming-soon-like
				a(href="photos-rust")
					img.pro-album-pic(src="images/rsz_butterhome1.jpg")
					div.pro-album-label-container
						div.pro-album-label
							p.search-pic-name Rustic
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/signin.js")
	script(type="text/javascript", src="/javascripts/loggedin.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script.
		var navLogin = !{JSON.stringify(navLogin)}
