extends layout

block content
	div.albums-outer-container
		div#pro-album-container
			div.pro-album-cover
				a(href="photos-ny")
					img.pro-album-pic(src="images/rsz_ian18.jpg")
					div.pro-album-label-container
						div.pro-album-label
							p.search-pic-name New York
			div.pro-album-cover
				a(href="photos-bou")
					img.pro-album-pic(src="images/rsz_boutiques3.jpg")
					div.pro-album-label-container
						div.pro-album-label
							p.search-pic-name Boutiques
			div.pro-album-cover#coming-soon-aut
				a(href="#")
					img.pro-album-pic(src="images/rsz_autumn3.jpg")
					div.pro-album-label-container
						div.pro-album-label
							p.search-pic-name Autumn 2013
							p.coming-soon Coming Soon
			div.pro-album-cover#coming-soon-like
				a(href="#")
					img.pro-album-pic(src="images/rsz_butterhome1.jpg")
					div.pro-album-label-container
						div.pro-album-label
							p.search-pic-name Stores Like Mine
							p.coming-soon Coming Soon
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/signin.js")
	script(type="text/javascript", src="/javascripts/loggedin.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script(type="text/javascript", src="/javascripts/albums.js")
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	
	