extends layout

block content
	div.body-inner-container
		div.about-container
			h2 Contact Information
			p.contact Please contact us anytime for any reason. We'd love to hear from you.
			p.contact Email: <a href="mailto:team@sevenalbums.com" target="_blank">team@sevenalbums.com</a>
			p.contact Phone: 781.307.7432
			a.contact(href="albums") Home
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/script.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script.
		var user = !{JSON.stringify(user)}
	script.
		var id = !{JSON.stringify(id)}