extends layout

block content
	div.about-outer-container
		div.about-container
			h3 Contact Information
			p Please contact us anytime for any reason.
			p Email: nick@sevenalbums.com
			p Phone: 781.307.7431
			a(href="albums") Home