extends layout

block content
	div.body-inner-container
		div#login-failed-container
			p#forgot-pass-err.hide() That email address does not match our records. Plesae re-enter your email address.
			p#forgot-password Enter your email address
			form#forgot-password-form(method="POST", action="/email")
				input.login-input#email-input(type="text", name="email", placeholder="Your email")
				div
					button.btn.btn-large.btn-primary#forgot-password-submit-btn(type="submit") Submit
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/script.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script(type="text/javascript", src="/javascripts/email.js")
	script.
		var users = !{JSON.stringify(users)}