doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-38419802-3', 'herokuapp.com');
			ga('send', 'pageview');
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.navbar-container
					a.brand(href="/") Seven Albums
					ul.nav
						li.dropdown
							a.nav-link(href="#", class="dropdown-toggle", data-toggle="dropdown") Browse Stores
							ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
								li.dropdown-submenu
									a(tabindex="-1", href="#") By Style
									ul.dropdown-menu
										// li <a tabindex="-1" href="photos-cons">Consignment</a>
										li <a tabindex="-1" href="photos-cont">Contemporary</a>
										li <a tabindex="-1" href="photos-ecce">Eccentric</a>
										// li <a tabindex="-1" href="photos-hip">Hip</a>
										li <a tabindex="-1" href="photos-indu">Industrial</a>
										li <a tabindex="-1" href="photos-mini">Minimalist</a>
										li <a tabindex="-1" href="photos-rust">Rustic</a>
										li <a tabindex="-1" href="photos-trad">Traditional</a>
								li.dropdown-submenu
									a(tabindex="-1", href="#") By Category
									ul.dropdown-menu
										// li <a tabindex="-1" href="photos-chan">Changing room</a>
										li <a tabindex="-1" href="photos-disp">Displays</a>
										li <a tabindex="-1" href="photos-diy">DIY</a>
										li <a tabindex="-1" href="photos-full">Full Store</a>
										li <a tabindex="-1" href="photos-ligh">Lighting</a>
										li <a tabindex="-1" href="photos-mann">Mannequin</a>
										li <a tabindex="-1" href="photos-merc">Merchandising</a>
										li <a tabindex="-1" href="photos-shac">Shoes & Accessories</a>
										li <a tabindex="-1" href="photos-fron">Store Front</a>
					div#not-signed-in
						ul.nav.pull-right#nav-right-container
							li
								a.nav-link(href="about") About us
							li
								a.nav-link#loginButton(href="#") <span>Log in</span>
								div#loginBox
									form#loginForm(method="POST", action="/session")
										fieldset
											input#focus-login(type="text", name="email", placeholder="Email Address")
										fieldset
											input(type="password", name="password", placeholder="Password")
										button.btn.btn-primary#login(type="submit") Log in
										a#login-modal-forgot-pass(href="forgot-password") Forgot your password?
					div#signed-in.hide()
						ul.nav.pull-right#nav-right-container
							li
								a.nav-link(href="about") About us
							li
								a.nav-link(href="signup") Sign up
		div#myCarousel(class="carousel carousel-fade slide")
			div#carousel-container(class="carousel-inner")
				div(class="item active")
					img.landing-bg(src="images/aa/ny60.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/aa/ny58.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/aa/ny59.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/bonobos1.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/aa/ny57.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/store1.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/aa/bou69.jpg", alt="")
		//
		a(class="left carousel-control", href="#myCarousel", data-slide="prev") &lsaquo;
		a(class="right carousel-control", href="#myCarousel", data-slide="next") &rsaquo;
		div#landing-page-intro-wrap
			div#landing-welcome
				h1#landing-header Seven Albums
				p#landing-sub-header Find ideas and inspiration for your store
			div#landing-content
				h3#signup-free-sub Sign up for your free account
				a(href="signup")
					button.btn-large.btn-primary#signup-modal-btn Sign up
				div.signup-modal-footer
					p Already have an account? <a href="#" id="login-button2">Log in now</span>
		div#preview-site-container
			a#preview-site-link(href="albums")
				h1#preview-site-header Preview Seven Albums <span id="preview-arrow">&rsaquo;</span>
		div#landing-content-container
			div#landing-content-container-inner
				div#landing-content-header-wrap
					h1#landing-content-header Browse photos of stores
				div.cov-albums-outer-container
					div#cov-pro-album-container
						div.cov-pro-album-cover(style='background-image: url("images/rsz_bou59_400_270.jpg")')
							a(href="photos-indu")
								img.cov-pro-album-pic(src="images/rsz_bou59_400_270.jpg")
								div.cov-pro-album-label-container
									div.cov-pro-album-label
										p.search-pic-name Industrial
						div.cov-pro-album-cover(style='background-image: url("images/rsz_bou79_400_270.jpg")')
							a(href="photos-ecce")
								img.cov-pro-album-pic(src="images/rsz_bou79_400_270.jpg")
								div.cov-pro-album-label-container
									div.cov-pro-album-label
										p.search-pic-name Eccentric
				div#landing-content-header-wrap
					h1#landing-content-header-2 Find ideas for your store
				div.cov-albums-outer-container
					div#cov-pro-album-container
						div.cov-pro-album-cover(style='background-image: url("images/merc/1.jpg")')
							a(href="photos-disp")
								img.cov-pro-album-pic(src="images/merc/1.jpg")
								div.cov-pro-album-label-container
									div.cov-pro-album-label
										p.search-pic-name DIY Displays
						div.cov-pro-album-cover(style='background-image: url("images/displays/15.jpg")')
							a(href="photos-merc")
								img.cov-pro-album-pic(src="images/displays/15.jpg")
								div.cov-pro-album-label-container
									div.cov-pro-album-label
										p.search-pic-name Merchandising
				div#landing-content-header-wrap
					h1#landing-content-header-2 Save ideas to your notebook
				div.cov-albums-outer-container
					div#landing-notebook-img-container
						a(href="albums")
							img#landing-notebook-img(src="images/notebook1.png")
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/signin.js")
	script(type="text/javascript", src="/javascripts/loggedin.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script(type="text/javascript", src="/javascripts/index.js")