doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-38419802-3', 'herokuapp.com');
			ga('send', 'pageview');
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.navbar-container
					a.brand(href="albums") Seven Albums
					//
						ul.nav#nav-left-container
							li
								a.nav-link(href="/albums") Home
					div#not-signed-in
						ul.nav.pull-right#nav-right-container
							li
								a.nav-link(href="about") About us
							li
								a.nav-link#loginButton(href="#") <span>Log in</span>
								div#loginBox
									form#loginForm(method="POST", action="/session")
										fieldset
											input#focus-login(type="text", name="email", placeholder="Email Address")
										fieldset
											input(type="password", name="password", placeholder="Password")
										button.btn.btn-primary#login(type="submit") Log in
										// label(for="checkbox")<input type="checkbox" id="checkbox" />Remember me</label>
										// span <a href="#">Forgot your password?</a>
					div#signed-in.hide()
						ul.nav.pull-right#nav-right-container
							li
								a.nav-link(href="about") About us
							li
								a.nav-link(href="signup") Sign up
		div#myCarousel(class="carousel slide")
			ol.carousel-indicators
				li(data-target="#myCarousel", data-slide-to="0", class="active")
				li(data-target="#myCarousel", data-slide-to="1")
				li(data-target="#myCarousel", data-slide-to="2")
				li(data-target="#myCarousel", data-slide-to="3")
				li(data-target="#myCarousel", data-slide-to="4")
				li(data-target="#myCarousel", data-slide-to="5")
				li(data-target="#myCarousel", data-slide-to="6")
				li(data-target="#myCarousel", data-slide-to="7")
				li(data-target="#myCarousel", data-slide-to="8")
			div(class="carousel-inner")
				div(class="item active")
					img.landing-bg(src="images/aa/ny60.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/aa/ny58.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/aa/ny59.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/bonobos1.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/aa/ny57.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/store1.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/aa/bou69.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/aa/bou56.jpg", alt="")
		a(class="left carousel-control", href="#myCarousel", data-slide="prev") &lsaquo;
		a(class="right carousel-control", href="#myCarousel", data-slide="next") &rsaquo;
		div#landing-page-intro-wrap
			div#landing-welcome
				h1#landing-header Seven Albums
				p#landing-sub-header Find ideas and inspiration for your store
			div#landing-content
				h3#signup-free-sub Sign up for your free account
				a(href="signup")
					button.btn-large.btn-primary#signup-modal-btn Sign up
				div.signup-modal-footer
					p Already have an account? <a href="#" id="login-button2">Log in now</span>
		div#preview-site-container
			a#preview-site-link(href="albums")
				h1#preview-site-header Preview Seven Albums <span id="preview-arrow">&rsaquo;</span>
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/signin.js")
	script(type="text/javascript", src="/javascripts/loggedin.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script(type="text/javascript", src="/javascripts/index.js")