doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-38419802-3', 'herokuapp.com');
			ga('send', 'pageview');
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.navbar-container
					a.brand(href="albums") Seven Albums
					div#not-signed-in
						ul.nav.pull-right#nav-right-container
							li
								a.nav-link(href="about") About us
							li
								a.nav-link#loginButton(href="#") <span>Log in</span>
								div#loginBox
									form#loginForm
										fieldset
											input(type="text", name="email", placeholder="Email Address")
										fieldset
											input(type="password", name="password", placeholder="Password")
										button.btn.btn-primary#login(type="submit") Log in
										// label(for="checkbox")<input type="checkbox" id="checkbox" />Remember me</label>
										// span <a href="#">Forgot your password?</a>
					div#signed-in.hide()
						ul.nav.pull-right#nav-right-container
							li
								a.nav-link(href="about") About us
							li
								a.nav-link(href="/") Sign up
		script.
			var hide = !{JSON.stringify(hide)}
		script.
			var sent = !{JSON.stringify(sent)}
		script.
			var prefs_sent = !{JSON.stringify(prefs_sent)}
		div#myCarousel(class="carousel slide")
			div(class="carousel-inner")
				div(class="item active")
					img.landing-bg(src="images/bonobos1.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/store1.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/colehann1.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/ian18.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/ian22.jpg", alt="")
				div(class="item")
					img.landing-bg(src="images/ian1.jpg", alt="")
		a(class="left carousel-control", href="#myCarousel", data-slide="prev") &lsaquo;
		a(class="right carousel-control", href="#myCarousel", data-slide="next") &rsaquo;
		div#landing-page-intro-wrap
			div#landing-welcome
				h2#landing-header Welcome to Seven Albums
				p#landing-sub-header A photographic catalog of retail store interiors
				div#landing-content
					p Sign up to view photos.
				form#landing-signup-form(method="POST", action="/signup")
					p
						input#landing-email-input(name="email", type="text", placeholder="Email Address")
					p
						input#landing-password-input(name="password", type="password", placeholder="Password")
					div#landing-signup-container
						button#landing-sign-up.btn.btn-large.btn-primary(type="submit", onclick="$('#landing-signup').toggle()") Sign up
						p#or or
						a#preview-cta(href="albums") Preview Site
			div#landing-pref-modal.hide()
				h3#landing-header Thanks for signing up! Last step...
				p#landing-pref-sub Please select your top two preferences so we know what photos to show you.
				form#landing-pref-form(method="POST", action="/prefs")
					div.landing-pref-container
						input.landing-pref-checkbox(type="checkbox", name="design")
						p.landing-pref-checkbox-content I am looking for inspiration and ideas to design my store
					div.landing-pref-container
						input.landing-pref-checkbox(type="checkbox", name="market")
						p.landing-pref-checkbox-content I want to see other stores to stay on top of the market
					div.landing-pref-container
						input.landing-pref-checkbox(type="checkbox", name="vendors")
						p.landing-pref-checkbox-content I want to see merchandise labels and vendor information
					div.landing-pref-container
						input.landing-pref-checkbox(type="checkbox", name="connect")
						p.landing-pref-checkbox-content I want to see profiles of boutique stores and owners
					button#landing-pref-submit-btn.btn.btn-large.btn-primary(type="submit") Submit Preferences
			div#thanks-for-sign-up.hide()
				h3#landing-header Preferences Submitted!
				p Thank you so much for joining Seven Albums!
				p We are finishing development of the site and will launch in September.
				p In the meantime, please <a href="learn-more">contact us</a> or <a href="learn-more">learn more</a> about Seven Albums.
			div#thanks-for-sign-up-no-pref.hide()
				h3#landing-header Thanks for joining Seven Albums!
				div#thanks-for-joining
					p Thanks for being an early adopter of Seven Albums.
					p We are delighted you joined and hope you enjoy the site.
				div#go-to-photos-link-container
					a(href="albums") Go to photos
		script(type="text/javascript", src="/javascripts/script.js")
		script(type="text/javascript", src="/javascripts/signin.js")