extends layout

block content
	div.body-inner-container
		div#welcome-page
			h2 Welcome to Seven Albums
			div#welcome-sub-container
				p.welcome-sub To start viewing photos, <a href="albums">click here to go to Albums.</a>
				p.welcome-sub To learn a little more about how the site works, read the introduction below.
			h3#welcome-intro Intro to Seven Albums
			div#welcome-container
				p Currently, Seven Albums allows you to view, share and save photos of shops.
				p The site was launched just last month and there will be frequent changes (we hope improvements). If you have any feedback or questions, please <a href="contact">contact us</a>.
			h3 Viewing photos
			p To view photos, click <a href="albums">Albums</a> in the navigation bar in the top left of your screen.
			p Then, select which album to view by clicking on the album cover (for example, <a href="photos-bou">Boutiques</a> or <a href="photos-ny">New York</a>).
			h3 Saving photos
			p To save photos, click the "+ Note it" button in the bottom right corner of the photo. This will add the photo to your notebook, which you can access at any time.
			p To view your notebook, click <a href="notebook">My Notebook</a> in the navigation bar in the top right of your screen.
			h3 Adding photos
			p To add photos to Seven Albums, select the "Add Photos" button in your <a href="notebook">notebook</a> and provide the link to the image.
			p If you would like to add photos of your own store, you can use the same approach or you can <a href="mailto:team@sevenalbums.com">email us</a> photos and we will upload them.
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/signin.js")
	script(type="text/javascript", src="/javascripts/loggedin.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')