extends layout

block content
	script
		var hide = !{JSON.stringify(hide)}
	script
		var sent = !{JSON.stringify(sent)}
	script
		var prefs_sent = !{JSON.stringify(prefs_sent)}
	div.body-container
		div.body-inner-container
			div.row-fluid
				div.span6
					h3 About Seven Albums
					p.about Seven Albums is currently in development. Our goal is to provide a platform for retail owners (boutiques, coffee shops, art/dance/yoga studios, specialty stores, etc...) to make design and remodelling decisions for their stores.
					p.about We are compiling photos of store interiors accross the country. We believe photos hold abundant information. By browsing photos of other stores, owners can find inspiration, ideas and products.
					p.about We are building a community of store owners, designers, architects and suppliers (hardware, fixtures, woodwork, art) to make it easier to find the ideas, products and people you need to design your store.
					p.about We are so happy you visited our site. We are excited about this product and can't wait to launch very soon. Please share your insights, needs and feedback with us. Hearing from you will actually make our day.
					form#about-signup-form(method="POST", action="/signup")
						p
							input#landing-email-input(name="email", type="text", placeholder="Enter your email address")
						p
							label(for="password") Password
							input(name="password", type="password")
							div
								button#about-sign-up-btn.btn.btn-large.btn-primary(type="submit") Sign up
					div#back-to-index
						a(href="/") back to home page
				div.span6#about-right-container
					div#contact-content
						h3 Contact Us
						form#about-contact-form(method="POST", action="/message")
							label(for="email") Email Address
							input#contact-email(name="email", type="text")
							label(for="Subject") Subject
							input(name="Subject", type="text")
							label(for="message") Message
							textarea#contact-message(rows="7", type="textarea", placeholder="Type your message...", name="message")
							button#contact-send-btn.btn.btn-large(type="submit") Send
					div#message-sent-thanks.hide()
						h4 Thanks for your message!
	script(type="text/javascript", src="/javascripts/script.js")