extends layout

block content
	div.body-inner-container
		div#login-failed-container
			p#login-error Log in failed. Please enter your email and password.
			form#loginForm(method="POST", action="/session")
				fieldset.login-failed-input
					input(type="text", name="email", placeholder="Email Address")
				fieldset.login-failed-input
					input(type="password", name="password", placeholder="Password")
				button.btn.btn-large.btn-primary#login(type="submit") Log in
				p#login-failed-or not a user?
				a#login-failed-signup(href="signup") Sign up
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/signin.js")
	script(type="text/javascript", src="/javascripts/loggedin.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script.
		var navLogin = !{JSON.stringify(navLogin)}