extends layout

block content
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	div.body-inner-container
		div.nb-container
			h2#nb-header My Notebook
			button.btn.btn-large.btn-primary#nb-add-photos(href="#nb-add-photos-modal", role="button", data-toggle="modal") Add Photos
			div.nb-photos-container
				div.nb-photo-row
					a(href="images/aa/bou1.jpg")
						div.nb-photo-img-container(style="background-image: url('images/aa/bou1.jpg')")
					a(href="images/aa/bou2.jpg")
						div.nb-photo-img-container(style="background-image: url('images/aa/bou2.jpg')")
					a(href="images/aa/bou3.jpg")
						div.nb-photo-img-container#third(style="background-image: url('images/aa/bou3.jpg')")
				div.nb-photo-row
					a(href="images/aa/bou1.jpg")
						div.nb-photo-img-container(style="background-image: url('images/aa/bou4.jpg')")
					a(href="images/aa/bou2.jpg")
						div.nb-photo-img-container(style="background-image: url('images/aa/bou5.jpg')")
					a(href="images/aa/bou3.jpg")
						div.nb-photo-img-container#third(style="background-image: url('images/aa/bou6.jpg')")
				div.nb-photo-row
					a(href="images/aa/bou1.jpg")
						div.nb-photo-img-container(style="background-image: url('images/aa/bou7.jpg')")
					a(href="images/aa/bou2.jpg")
						div.nb-photo-img-container(style="background-image: url('images/aa/bou8.jpg')")
					a(href="images/aa/bou3.jpg")
						div.nb-photo-img-container#third(style="background-image: url('images/aa/bou9.jpg')")
		div#nb-add-photos-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="loginModalLabel", aria-hidden="true")
			div.modal-body#nb-photos-modal-body
				button.close#nb-photos-modal-close(type="button", data-dismiss="modal", aria-hidden="true") ×
				h4#nb-photos-modal-header Add a photo from a website
			div#nb-photos-modal-form-container
				form#nb-photos-modal-form(method="POST", action="/upload1")
					input#nb-photos-modal-input(type="text", placeholder="Paste the link to the page containing the photo...", name="url")
					div.modal-footer#nb-photos-modal-footer
						a#nb-photos-modal-cancel(data-dismiss="modal", aria-hidden="true") Cancel
						input.btn.btn-primary(type="submit", value="Add Photo")