extends layout

block content
	div.navbar.navbar-inverse.navbar-fixed-top
		div.navbar-inner
			div.navbar-container
				a.brand(href="albums") Seven Albums
				ul.nav.pull-right
					li
						a.nav-link(href="about") About us
					li
						a.nav-link(href="/") Sign up
	div.body-container
		div.body-inner-container
			