extends layout

block content
	script(type="text/javascript", src="/javascripts/photos.js")
	div.body-container
		div.body-inner-container
			div.photo-page-container
				div.selection#page-1
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="#{photos[0].url}", target="_blank")
								img.photo-img(src="#{photos[0].url}")
						div.photo-content-container.span3
							p.notebook-count #{photos[0].liked} Notebooks
							form(method="POST", action="/notebook")
								input.hide()(name="image_url", value="images/aa/ny1.jpg")
								input.add-notebook(type="submit", value="+ Add to Notebook") 
							div.comment-container
								p.add-comment(href="#") + Add Comment
							//
								div.source-container
									a.source(href="http://superfuture.com/supernews/london-a-p-c-store-relocation") http://superfuture.com/supernews/london-a-p-c-store-relocation
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny2.jpg", target="_blank")
								img.photo-img(src="images/aa/ny2.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny3.jpg", target="_blank")
								img.photo-img(src="images/aa/ny3.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny4.jpg", target="_blank")
								img.photo-img(src="images/aa/ny4.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny5.jpg", target="_blank")
								img.photo-img(src="images/aa/ny5.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny6.jpg", target="_blank")
								img.photo-img(src="images/aa/ny6.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny7.jpg", target="_blank")
								img.photo-img(src="images/aa/ny7.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny8.jpg", target="_blank")
								img.photo-img(src="images/aa/ny8.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny9.jpg", target="_blank")
								img.photo-img(src="images/aa/ny9.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny10.jpg", target="_blank")
								img.photo-img(src="images/aa/ny10.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
				div.selection#page-2.hide()
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny11.jpg", target="_blank")
								img.photo-img(src="images/aa/ny11.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny12.jpg", target="_blank")
								img.photo-img(src="images/aa/ny12.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny13.jpg", target="_blank")
								img.photo-img(src="images/aa/ny13.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny14.jpg", target="_blank")
								img.photo-img(src="images/aa/ny14.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny15.jpg", target="_blank")
								img.photo-img(src="images/aa/ny15.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny16.jpg", target="_blank")
								img.photo-img(src="images/aa/ny16.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny17.jpg", target="_blank")
								img.photo-img(src="images/aa/ny17.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny18.jpg", target="_blank")
								img.photo-img(src="images/aa/ny18.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny19.jpg", target="_blank")
								img.photo-img(src="images/aa/ny19.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny20.jpg", target="_blank")
								img.photo-img(src="images/aa/ny20.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
				div.selection#page-3.hide()
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny21.jpg", target="_blank")
								img.photo-img(src="images/aa/ny21.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny22.jpg", target="_blank")
								img.photo-img(src="images/aa/ny22.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny23.jpg", target="_blank")
								img.photo-img(src="images/aa/ny23.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny24.jpg", target="_blank")
								img.photo-img(src="images/aa/ny24.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny25.jpg", target="_blank")
								img.photo-img(src="images/aa/ny25.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny26.jpg", target="_blank")
								img.photo-img(src="images/aa/ny26.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny27.jpg", target="_blank")
								img.photo-img(src="images/aa/ny27.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny28.jpg", target="_blank")
								img.photo-img(src="images/aa/ny28.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny29.jpg", target="_blank")
								img.photo-img(src="images/aa/ny29.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny30.jpg", target="_blank")
								img.photo-img(src="images/aa/ny30.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
				div.selection#page-4.hide()
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny31.jpg", target="_blank")
								img.photo-img(src="images/aa/ny31.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny32.jpg", target="_blank")
								img.photo-img(src="images/aa/ny32.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny33.jpg", target="_blank")
								img.photo-img(src="images/aa/ny33.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny34.jpg", target="_blank")
								img.photo-img(src="images/aa/ny34.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny35.jpg", target="_blank")
								img.photo-img(src="images/aa/ny35.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny36.jpg", target="_blank")
								img.photo-img(src="images/aa/ny36.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny37.jpg", target="_blank")
								img.photo-img(src="images/aa/ny37.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny38.jpg", target="_blank")
								img.photo-img(src="images/aa/ny38.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny39.jpg", target="_blank")
								img.photo-img(src="images/aa/ny39.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny40.jpg", target="_blank")
								img.photo-img(src="images/aa/ny40.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
				div.selection#page-5.hide()
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny41.jpg", target="_blank")
								img.photo-img(src="images/aa/ny41.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny42.jpg", target="_blank")
								img.photo-img(src="images/aa/ny42.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny43.jpg", target="_blank")
								img.photo-img(src="images/aa/ny43.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny44.jpg", target="_blank")
								img.photo-img(src="images/aa/ny44.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny45.jpg", target="_blank")
								img.photo-img(src="images/aa/ny45.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny46.jpg", target="_blank")
								img.photo-img(src="images/aa/ny46.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny47.jpg", target="_blank")
								img.photo-img(src="images/aa/ny47.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny48.jpg", target="_blank")
								img.photo-img(src="images/aa/ny48.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny49.jpg", target="_blank")
								img.photo-img(src="images/aa/ny49.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/ny50.jpg", target="_blank")
								img.photo-img(src="images/aa/ny50.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							form(method="POST", action="/notebook")
								input.hide()(name="image_url", value="images/aa/ny50.jpg")
								input.add-notebook(type="submit", value="+ Add to Notebook") 
							div.comment-container
								p.add-comment(href="#") + Add Comment
				div#photos-pagination