extends layout

block content
	script(type="text/javascript", src="/javascripts/photos.js")
	div.navbar.navbar-inverse.navbar-fixed-top
		div.navbar-inner
			div.navbar-container
				a.brand(href="albums") Seven Albums
				ul.nav.pull-right
					li
						a.nav-link(href="about") About us
					li
						a.nav-link(href="/") Sign up
	div.body-container
		div.body-inner-container
			div.photo-page-container
				div.selection#page-1
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou52.jpg", target="_blank")
								img.photo-img(src="images/aa/bou52.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
							//
								div.source-container
									a.source(href="http://superfuture.com/supernews/london-a-p-c-store-relocation") http://superfuture.com/supernews/london-a-p-c-store-relocation
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou2.jpg", target="_blank")
								img.photo-img(src="images/aa/bou2.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou1.jpg", target="_blank")
								img.photo-img(src="images/aa/bou1.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou4.jpg", target="_blank")
								img.photo-img(src="images/aa/bou4.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou5.jpg", target="_blank")
								img.photo-img(src="images/aa/bou5.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou6.jpg", target="_blank")
								img.photo-img(src="images/aa/bou6.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou7.jpg", target="_blank")
								img.photo-img(src="images/aa/bou7.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou8.jpg", target="_blank")
								img.photo-img(src="images/aa/bou8.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou9.jpg", target="_blank")
								img.photo-img(src="images/aa/bou9.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou10.jpg", target="_blank")
								img.photo-img(src="images/aa/bou10.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
				div.selection#page-2.hide()
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou11.jpg", target="_blank")
								img.photo-img(src="images/aa/bou11.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou12.jpg", target="_blank")
								img.photo-img(src="images/aa/bou12.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou13.jpg", target="_blank")
								img.photo-img(src="images/aa/bou13.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou14.jpg", target="_blank")
								img.photo-img(src="images/aa/bou14.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou15.jpg", target="_blank")
								img.photo-img(src="images/aa/bou15.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou16.jpg", target="_blank")
								img.photo-img(src="images/aa/bou16.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou17.jpg", target="_blank")
								img.photo-img(src="images/aa/bou17.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou18.jpg", target="_blank")
								img.photo-img(src="images/aa/bou18.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou19.jpg", target="_blank")
								img.photo-img(src="images/aa/bou19.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou20.jpg", target="_blank")
								img.photo-img(src="images/aa/bou20.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
				div.selection#page-3.hide()
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou21.jpg", target="_blank")
								img.photo-img(src="images/aa/bou21.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou22.jpg", target="_blank")
								img.photo-img(src="images/aa/bou22.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou23.jpg", target="_blank")
								img.photo-img(src="images/aa/bou23.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou24.jpg", target="_blank")
								img.photo-img(src="images/aa/bou24.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou25.jpg", target="_blank")
								img.photo-img(src="images/aa/bou25.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou26.jpg", target="_blank")
								img.photo-img(src="images/aa/bou26.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou27.jpg", target="_blank")
								img.photo-img(src="images/aa/bou27.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou28.jpg", target="_blank")
								img.photo-img(src="images/aa/bou28.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou29.jpg", target="_blank")
								img.photo-img(src="images/aa/bou29.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou30.jpg", target="_blank")
								img.photo-img(src="images/aa/bou30.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
				div.selection#page-4.hide()
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou31.jpg", target="_blank")
								img.photo-img(src="images/aa/bou31.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou32.jpg", target="_blank")
								img.photo-img(src="images/aa/bou32.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou33.jpg", target="_blank")
								img.photo-img(src="images/aa/bou33.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou34.jpg", target="_blank")
								img.photo-img(src="images/aa/bou34.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou35.jpg", target="_blank")
								img.photo-img(src="images/aa/bou35.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou36.jpg", target="_blank")
								img.photo-img(src="images/aa/bou36.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou37.jpg", target="_blank")
								img.photo-img(src="images/aa/bou37.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou38.jpg", target="_blank")
								img.photo-img(src="images/aa/bou38.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou39.jpg", target="_blank")
								img.photo-img(src="images/aa/bou39.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou40.jpg", target="_blank")
								img.photo-img(src="images/aa/bou40.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
				div.selection#page-5.hide()
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou41.jpg", target="_blank")
								img.photo-img(src="images/aa/bou41.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou42.jpg", target="_blank")
								img.photo-img(src="images/aa/bou42.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou43.jpg", target="_blank")
								img.photo-img(src="images/aa/bou43.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou44.jpg", target="_blank")
								img.photo-img(src="images/aa/bou44.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou45.jpg", target="_blank")
								img.photo-img(src="images/aa/bou45.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou46.jpg", target="_blank")
								img.photo-img(src="images/aa/bou46.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou47.jpg", target="_blank")
								img.photo-img(src="images/aa/bou47.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou48.jpg", target="_blank")
								img.photo-img(src="images/aa/bou48.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou49.jpg", target="_blank")
								img.photo-img(src="images/aa/bou49.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
					div.row-fluid.photo-display-container
						div.photo-img-container.span9
							a(href="images/aa/bou50.jpg", target="_blank")
								img.photo-img(src="images/aa/bou50.jpg")
						div.photo-content-container.span3
							p.notebook-count 0 Notebooks
							p.add-notebook(href="#") + Add to Notebook
							div.comment-container
								p.add-comment(href="#") + Add Comment
				div#photos-pagination