extends layout

block content
	div.body-inner-container
		div.terms-container
			h3 Privacy Policy
			p Thank you for using Seven Albums! 
			p We wrote this Privacy Policy to help you understand the ways in which Seven Albums uses and discloses information that we collect.  Please contact us with any questions you have.
			h4 What information we collect:
			p Upon signing up for Seven Albums you provide us with certain information. This caninclude your email address, name, photos, business name, comments, likes and any other information you decide to give us.
			p You also may decide to give us permission to access information from other services, such as Facebook, Twitter or Pinterest. The information obtained from those services usually depends on their privacy policies and your personal settings with those providers so be sure to check what those are.
			p When using a website, web application, mobile application or other Internet services, certain information gets generated automatically. The same applies to our website. Much of this information is technical and is used primarily for monitoring the performance of the website. Here are some examples of the information we collect:
			p We collect log data. Our servers automatically record information that your browser sends whenever you visit our site. This data may include your Internet Protocol address, the web pages you visited that had Seven Albums features, the browser type that is sending us the information, as well as the date and time of your request, how you used Seven Albums and cookie data.
			p Depending on how you are using our product, we may use “cookies” (small files that are sent to our servers by your computer when you visit our website). We may use “session” cookies and “persistent” cookies to store your language preferences, Seven Albums preferences and settings so that you don’t have to set them every time you use our product.
			p Additionally we may collect log data pertaining to the device you are using to access our website. We may collect data regarding the device you are using, settings, unique device identifiers and crash data. This data helps us monitor the performance of our product across different devices (for example comparing performance for Mac’s and PC’s).
			h4 What we do with all of this data:
			p Our number one concern is that we provide the best product possible for all of our users. Much of this data is used to develop new products, protect our users' privacy (i.e. monitoring usage patterns to prevent unauthorized access to your account), offer customized content and analyze performance.
			p We may recommend photos that we think may be interesting to you based on photos you have posted, liked or viewed previously.
			p We may send you updates on comments, new albums or product features, marketing material and other information that might be of interest to you.
			p The information that we collect may be “personally identifiable” (meaning it can be used to identify you as a unique individual) or “non-personally identifiable” (meaning it can’t be used to identify you specifically).
			h4 How we share the information we collect:
			p Seven Albums is designed to make the fragmented retail world much more of a community. It is a collaborative tool. When you make public comments on photos, post new photos or provide us with profile page information, that information is public. You absolutely can decide to make certain information (such as notebook comments) private.
			p We may employ third party companies or consultants to process personal information on our behalf in compliance with this Privacy Policy. For example, we may share data with a third party security consultant in order to identify security risks, spamming or unauthorized usage.
			p If we believe that disclosure is reasonably necessary to comply with a law, regulation or legal request; in order to protect the property, safety or rights of the public, any person or Seven Albums; or to detect, prevent or otherwise address fraud, security or technical issues, we may disclose select information.
			p We may engage in a merger, acquisition, bankruptcy, dissolution, reorganization or similar transaction or proceeding that requires the transfer of data and information described in this policy.
			p We also may share aggregated information or data with our partners or others. For example, we may tell an architect who has posted on Seven Albums the percentage of users who clicked on their photo or added it to their notebook.
			p Seven Albums is not directed to children under 13. If you learn that your minor child has provided us with personal information without your consent, please contact us.
			h4 Policy Revisions:
			p This policy is incorporated into the Seven Albums Terms of Use. By using and/or registering on Seven Albums, you expressly consent to our collection, use and disclosure of your information as stated in this Privacy Policy. We may change this policy from time to time. Any changes we make will be posted on this page. By continuing to use Seven Albums after those changes are put into effect, you are agreeing to the revised policy.
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/signin.js")
	script(type="text/javascript", src="/javascripts/loggedin.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script.
		var navLogin = !{JSON.stringify(navLogin)}