extends layout

block content
	div.modal#photo-modal.hide
		div#pm-ctn
			div#pm-left-ctn
				img#pm-photo(src="images/aa/bou52.jpg")
			div#pm-right-ctn
				div#pm-right-ctn-inner
					
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script(type="text/javascript", src="/javascripts/template.js")