block content
	form(method="POST", action="/upload")
		p
			label(for="url") Url:
			input(type="text", name="url")
		p
			label(for="source") Source:
			input(type="source", name="source")
		p
			input(type="submit", value="Upload")