form(method="POST", action="/upload2")
	p
		label(for="url") Url:
		input(type="text", name="url")
	p
		label(for="source") Source:
		input(type="source", name="source")
	p
		label(for="position") Position:
		input(type="text", name="position")
	p
		label(for="style") Style:
		input(type="text", name="style")
	p
		label(for="type") Type:
		input(type="text", name="type")
	p
		label(for="used") Used:
		input(type="text", name="used")
	p
		input(type="submit", value="Upload")