body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.body-container {
	width: 100%;
	min-height: 650px;
	margin: 0px auto 0px auto;
	padding: 40px 0px;
	background-color: rgba(247, 247, 247, .8)
}

.body-inner-container {
	width: 990px;
	margin: 0px auto 0px auto;;
}

/* Landing Page */

img.landing-bg {
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

div#landing-bg1 {
	background: url('/images/bonobos1.jpg') no-repeat center center;
	background-size: cover;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
}

#landing-page-intro-wrap {
	position: relative;
	margin: 170px auto;
	width: 420px;
	padding: 20px;
	background: rgba(247,247,247,.95);
	border-radius: 4px;
	box-shadow: 0 0 20px #000;
}

#landing-header {
	margin: -5px 0px 5px 0px;
}

#landing-sub-header {
	font-size: 18px;
	font-weight: 500;
	margin: 10px 0px 10px 0px;
}

#landing-content {
	font-size: 16px;
}

#landing-email-input {
	margin-top: 5px;
	margin-bottom: 0px;
}

#landing-signup-container {
	font-size: 15px;
	margin-top: 15px;
}

#landing-sign-up {
	display: inline-block;
}

#landing-btn-or {
	display: inline-block;
	margin: 0px 10px;	
}

/* Carousel */
.carousel-control {
  height: 80px;
  margin-top: -10px !important;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

/* Learn more page */
.about {
	font-size: 14px;
	margin-top: 15px;
}

#back-to-index {
	margin-top: 20px;
}

#about-right-container {
	padding-left: 60px;
}

#contact-message {
	width: 410px;
}

#contact-send-link {
	margin-top: 5px;
	font-size: 18px;
	font-weight: bold;
}

#landing-signup-form {
	margin-bottom: 0px;	
}

#about-sign-up-btn {
	margin-top: 15px;
}

#contact-send-btn {
	margin-top: 5px;
}

#about-signup-form {
	margin-top: 15px;
}

#message-sent-thanks {
	margin-top: 20px;
}

/* Demo Photo Modal */

#pro-photo-modal {
	position: absolute;
	top: 5%;
	left: 50%;
	z-index: 1050;
	width: 950px;
	margin-left: -485px;
	padding: 10px;
	background-color: rgba(220, 220, 220, 0.9);
	background-color: rgba(247, 247, 247, 0.9);
	outline: 0;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		 -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
		      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
		 -moz-background-clip: padding-box;
		      background-clip: padding-box;
	overflow-y: scroll;	
}

#profile-modal-large-container {
	height: 560px;
	padding: 0px;
	text-align: center;
}

#profile-modal-large-img {
	max-height: 100%;
}

#profile-modal-large-img:hover {
	cursor: pointer;
}

#modal-backdrop-modifed {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: rgba(0, 0, 0, 0.8);
}

#demo-star {
	height: 35px;
	width: 35px;
	float: right;
	margin-right: 5px;
	opacity: .6;
}

.clicked {
	opacity: 1 !important;
} 

#demo-star:hover {
	cursor: pointer;
}

#corner-num {
	float: right;
	font-size: 16px;
	margin-top: -15px;
	margin-right: 5px;
}