.body-container {
	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treaded as min-height*/
	min-height: 100%; /* real browsers */
	margin: 0px auto;
	padding: 30px 0px 50px 0px;
	background-color: #FAFAFA;
}

.body-container-inner {
	width: 990px;
	margin: 0px auto;
	min-height: 1000px;
}

#av-add-video {
	margin-top: 10px;
}

#sv-video-frame {
	margin-top: 20px;
}

#sv-add-vid-link {
	margin-top: 20px;
}